body {
	width: 1280px;

	margin: 0 auto;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
	text-transform: uppercase;

	background-color: rgba(242, 242, 242, 1);

}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px -10px 30px 15px rgba(0, 1, 1, 0.2);

}

a {
	text-decoration: none;
}



.main-navigation {
	position: relative;
}

.main-header-logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -70px;		
}

.site-navigation {
	line-height: 26px;
	font-weight: 700;
	list-style: none;
	padding: 0;	
	margin: 0 auto;
	display: flex;	
	flex-wrap: wrap;
	width: 1056px;	
}

.site-navigation li {
	padding: 15px 0;
	width: 240px;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(4n-3),
.site-navigation li:nth-child(4n-2) {
	text-align: left;
}

.site-navigation li:nth-child(4n-1),
.site-navigation li:nth-child(4n) {
	text-align: right;
}

.site-navigation li:nth-child(4n-2) {
	margin-right: auto;
}

.site-navigation a {
	color: rgba(0, 0, 0, 1);
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: rgba(129, 179, 210, 1);
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.welcome {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;	
	text-align: center;
	padding-top: 77px;

	background-color: rgba(32, 50, 64, 1);
	background-image: 	url("../img/intro-mask.svg"),
						url("../img/bg.jpg");
	background-position: center 450px, center -55px;
	background-repeat: no-repeat, no-repeat;

	margin-bottom: 33px;	
}

.welcome img {	
	margin-bottom: 79px;
}
svg {
	marbin-bottom: 0;
}

.welcome-lid {
	background-color: rgba(255, 255, 255, 1);
	margin: 0;
	padding: 0;
}

.features {
	margin-bottom: 54px;
}

.features h2 {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: rgba(255, 255, 255, 1);
	margin-bottom: 55px;
}

.features-list,
.advantage-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;	
	flex-wrap: wrap;
}

.feature-item {
	color: rgba(255, 255, 255, 1);
	text-align: center;	
	width: 400px;

	background-color: rgba(129, 179, 210, 1);
	
}

.feature-item:nth-child(3),
.feature-item:nth-child(4),
.feature-item:nth-child(5) {
	color: rgba(0, 0, 0, 1);
	background-color: rgba(238, 238, 238, 1);
}

.feature-item:first-child,
.feature-item:nth-child(2) {	
	display: flex;
	width: 1200px;
	align-items: center;
}

.feature-item:first-child {
	order: 0;
}
.feature-item:last-child {
	width: 1200px;	
	order: 1;
}

.feature-item:nth-child(2) {
	order: 2;
}

.feature-item:nth-child(3) {
	order: 3;	
}

.feature-item:nth-child(4) {
	order: 4;
}

.feature-item:nth-child(5) {
	order: 5;
}

.feature-item h3,
.advantage-item h4 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;	
	margin: 0;	
	padding: 0;
}

.feature-item:nth-child(2) .feature-item-container {
	order: 1;
}
 
.advantage-item {
	color: rgba(0, 0, 0, 1);
	text-align: center;
	width: 400px;

	background-color: rgba(238, 238, 238, 1);
	
}

.interested {
	color: rgba(0, 0, 0, 1);
	text-align: center;

	background-color: rgba(255, 255, 255, 1);
}

.interested-question {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

.interested-info {
	line-height: 24px;
	margin-bottom: 50px;
}

.search {
	line-height: 26px;
	font-weight: 700;
	color: rgba(0, 0, 0 1);
	text-align: center;

	background-color: rgba(255, 255, 255, 1);
}

.search input {
	font: inherit;
	text-transform: uppercase;

	background-color: rgba(242, 242, 242, 1);
	
}

.search input:hover {
	background-color: rgba(235, 235, 235, 1);
}

.search input:focus {
	background-color: rgba(255, 255, 255, 1);
	border: 2px solid rgba(229, 229, 229, 1);
	outline: none;
}


/*Цвет placeholder*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 1);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 1);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, 1);
}

.interested-open + label {
	background-color: rgba(118, 99, 87, 1);
	font-size: 21px;
	line-height: 26px;	
	font-weight: 700;

	color: rgba(255, 255, 255, 1);
}

.interested-open + label:hover,
.interested-open + label:focus {	
	background-color: rgba(98, 78, 67, 1);
}


.interested-open + label:active {
	background-color: rgba(80, 62, 51, 1);
	color: rgba(255, 255, 255, 0.3);
}

.button {
	font-size: 21px;
	line-height: 26px;	
	font-weight: 700;

	color: rgba(255, 255, 255, 1);
  	text-align: center;  	
 	vertical-align: middle;
  	text-transform: uppercase;
  	
  	border: none;
}

.button-find {
	background-color: rgba(129, 179, 210, 1);
}
 
.button-find:hover,
.button-find:focus {	
	background-color: rgba(102, 158, 192);
}

.button-find:active {
	background-color: rgba(84, 150, 189, 1);
	color: rgba(255, 255, 255, 0.3);
}

.main-footer {
	width: 1056px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.9);
}

.hashtag,
.footer-social,
.copyright {
	width: 240px;
	text-align: center;	
}

.main-footer .hashtag {
	font-size: 21px;
	line-height: 26px;	
	font-weight: 700;
}

.footer-social {
	text-align: center;

	list-style: none;
}

.social-button {
	color: rgba(0, 0, 0, 1);
}

.social-button:hover,
.social-button:focus{	
}

.social-button:active {	
}

.copyright b{
	line-height: 26px;	

	text-align: center;
}

.copyright-logo:hover,
.copyright-logo:focus {	
}

.copyright-logo:active {	
}


/*Страница index закончилась дальше для inner */


.inner-page .main-header-logo:hover,
.inner-page .main-header-logo:focus {
	outline-color: rgba(96, 78, 67, 1);
}

.site-navigation-current {
	color: rgba(118, 99, 87, 1);
}

.filter {
	color: rgba(255, 255, 255, 1);

	background-color: rgba(68, 89, 95, 1);
	background-image: url("../img/filter background.jpg");
	background-position: center -56px;
	background-repeat: no-repeat;
}

.filter-form {
	width: 1056px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;	
}

.filter fieldset {
  border: none; 
  width: 240px;
}

.filter legend {	
	font-size: 16px;	
	font-weight: 700;
	line-height: 21px;

	color: rgba(255, 255, 255, 1);
}

.filter ul {
	list-style: none;
	line-height: 21px;	
}

.filter-range {
	width: 320px;
	margin-left: auto;
}

.filter-range b {
	font-size: 16px;	
	font-weight: 700;
	line-height: 21px;
}

.sub-filter {
	width: 1056px;
	margin: 0 auto;
}
.sub-filter p,
.sub-filter ul {
	display: inline-block;
	font-size: 0;
}

.sub-filter b {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.sub-filter span {
	font-size: 12px;
	line-height: 18px;
}

.sub-filter-list {
	margin: 0;
	list-style: none;	
}

.sub-filter-item a {
	font-size: 12px;	
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted rgba(129, 179, 210, 1);
}

.sub-filter-item a:hover,
.sub-filter-item a:focus {
	color: rgba(129, 179, 210, 1);
}

.sub-filter-item a:active {
	border: none;
	color: rgba(0, 0, 0, 1);
}

.sub-filter-item.current a {
	border: none;
	color: rgba(129, 179, 210, 1);
}

.sub-filter-item {
	display: inline-block;
	font-size: 0;
}

.button-inner {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

	color: rgba(255, 255, 255, 1);
	text-align: center;  	
 	vertical-align: middle;
  	text-transform: uppercase;
  	
  	border: none;
  	background-color: transparent;
}

.button-show:hover,
.button-show:focus {
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1);
}

.inner-page .result-list {
	list-style: none;
	width: 1056px;
	margin: 0 auto;
}

.result-item a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(0, 0, 0, 1);
}

.result-item a:hover,
.result-item a:focus {
	color: rgba(129, 179, 210, 1);
}

.result-item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.result-item .btn-more {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);

	background-color: rgba(129, 179, 210, 1);
}

.result-item .btn-more:hover,
.result-item .btn-more:focus {
	background-color: rgba(102, 158, 192, 1);
	color: rgba(255, 255, 255, 1);
}

.result-item .btn-more:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgba(84, 150, 189, 1);
}

.result-item .btn-to-book {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);

	background-color: rgba(118, 99, 87, 1);
}

.result-item .btn-to-book:hover,
.result-item .btn-to-book:focus {
	background-color: rgba(96, 78, 67, 1);
	color: rgba(255, 255, 255, 1);
}

.result-item .btn-to-book:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgba(80, 62, 51, 1);
}




.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
